

<link rel="stylesheet" href="/css/home.css">






<Section id ="Home-section">

<div class="card" style="width: 18rem;">
    <img src="/Images/student.jfif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Student Details</h5>
      <p class="card-text">Enter the details of the students and view them</p>
      <a href="/students/list" class="btn btn-primary">Students</a>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="/Images/Interview.jfif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Interview Details</h5>
      <p class="card-text">Section for interview related content.</p>
      <a href="/interviews/list" class="btn btn-primary">Interviews</a>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="/Images/csv.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Download Csv</h5>
      <p class="card-text">Click on the  Download button to Download the details in the csv format</p>
      <a href="/students/data" class="btn btn-primary">Download</a>
    </div>
  </div>

</Section>
