<link rel="stylesheet" href="/css/profile.css">

<div class="container p-2" id="Profile-details">
  <div class="row">
      <div class="col-sm-6">
          <div class="card shadow">
            <div class="card-body">
              <h3 class="card-title">Welcome <%= employee.name %></h3>
              <p class="card-text">Here is your details</p>
              <input type="text" value="<%=employee.name%>" readonly class="my-2 p-2"/>
              <input type="text" value="<%=employee.email%>" readonly class="my-2 p-2"/>
            </div>
          </div>
        </div>
  </div>
</div>
</section>