

    <link rel="stylesheet" href="/css/sign_in.css">

<section class="vh-100" id="sign-in-form">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                
                <a href="/employees/auth/google" class="text-black me-4">
                  <i class="fa fa-google fa-2x"></i>
                </a>
              </div>

            <form action="/employees/create-session" method="post">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email"  placeholder="Email" name="email" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" placeholder="Password" name="password" required class="form-control" id="exampleInputPassword1" placeholder="Password">
                <small id="emailHelp" class="form-text text-muted">Kindly enter the correct password</small>
              </div>
              
              <button type="submit" class="btn btn-primary " >Submit</button>
            </form>


        </div>
      </div>
    </div>
   
  
  
  </section>

