<link rel="stylesheet" href="/css/student.css">

<section id ="student-container">
<section style="background-image: url(''); background-size: cover;">
    <div class="container p-3">
        <div class="row d-flex justify-content-around">
            <div class="col-sm-4 shadow p-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center"><i class='fas fa-user-graduate'></i> Students</h3>
                        <p class="card-text">Name of all the students.</p>
                        <ol class="fw-bold">
                            <% for(student of students) { %>
                                <li>
                                    <span>
                                        <%= student.name %>
                                    </span>
                                </li>
                            <% } %>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="col-sm-5 shadow p-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center"><i class="fas fa-file-signature"></i> Student Form</h3>
                        <p class="card-text">Please fill the form for creating a student.</p>
                        <form action="/students/create" method="post">
                            <div class="input-group flex-nowrap p-1">
                                <span class="input-group-text">Name</span>
                                <input type="text" name="name" class="form-control" placeholder="Name" required>
                            </div>
                            <div class="input-group flex-nowrap p-1">
                                <span class="input-group-text">Email</span>
                                <input type="email" name="email" class="form-control" placeholder="Email" required>
                            </div>
                            <div class="input-group flex-nowrap p-1">
                                <span class="input-group-text">Phone Number</span>
                                <input type="number" name="phoneNumber" class="form-control" placeholder="Phone Number"
                                    required>
                            </div>
                            <div class="border border-2 my-1 p-2">
                                <label for="exampleDataList" class="form-label fw-bold">College Name :</label>
                                <input class="form-control" name="collegeName" list="datalistOptions"
                                    id="exampleDataList" placeholder="Type to search..." required>
                               
                            </div>
                            <div class="border my-2 p-2">
                                <span class="fw-bold">Placement Status : </span>
                                <span class="mx-3">
                                    <input type="radio" id="placed" name="placementStatus" value="Placed" required>
                                    <label for="placed">Placed</label>
                                </span>
                                <span class="mx-3">
                                    <input type="radio" id="not_placed" name="placementStatus" value="Not Placed">
                                    <label for="not_placed">Not Placed</label>
                                </span>
                            </div>
                            <div class="input-group flex-nowrap p-1">
                                <span class="input-group-text">Batch</span>
                                <input type="text" name="batch" class="form-control" placeholder="Batch" required>
                            </div>
                            <div>
                                <div class="input-group flex-nowrap p-1">
                                    <span class="input-group-text">DSA Final Score</span>
                                    <input type="number" name="DSA_score" class="form-control"
                                        placeholder="DSA Final Score" required>
                                </div>
                                <div class="input-group flex-nowrap p-1">
                                    <span class="input-group-text">WebD Final Score</span>
                                    <input type="number" name="webD_score" class="form-control"
                                        placeholder="WebD Final Score" required>
                                </div>
                                <div class="input-group flex-nowrap p-1">
                                    <span class="input-group-text">React Final Score</span>
                                    <input type="number" name="react_score" class="form-control"
                                        placeholder="DSA Final Score" required>
                                </div>
                                <a href="/students/create"><button type="submit" class="btn btn-success m-2">Add Student</button></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</section>