#layout-footer{
    color: white;
    z-index: 3;
    a{
        color: white;
        text-decoration: none;
    }

    background: rgb(122, 120, 211);
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;

    .footer-nav{
        ul{
            list-style: none;
        }
    }
}